﻿@{
    ViewData["Title"] = "thêm danh mục sản phẩm";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}
@model List<PhoneShop.DataAccess.DTO.CategoryRequestData>
<style>
    .row_marging {
        margin-top: 5px;
    }
</style>



<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Quản lý sản phầm</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">danh mục sản phẩm</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row row_marging">
            <div class="col-md-12">

                <h2 class="card-title">thêm danh mục sản phẩm:</h2>
                <div class="form-group">
                    <label for="email">Tên danh mục sản phẩm:</label>
                    <input type="email" class="form-control" id="txtCategoryName">
                </div>
                <div class="form-group">
                    <label for="DisplayStatus">trạng thái hiển thị:</label>
                    <select id="DisplayStatus">
                        <option value="1">Hiển Thị</option>
                        <option value="0">Ẩn đi</option>
                    </select>
                </div>
                <div class="form-group" style="padding-bottom: 60px;">
                    <label for="Title" class="control-label col-md-3">Ảnh sản phẩm:<span class="required">*</span></label>
                    <div class="col-md-6">
                        <div class="input-icon right">
                            <input id="upload" class="form-control" type="file" name="upload" accept="image/*" multiple="multiple" />
                            <p style="color:red">Chọn từ 1 - 3 ảnh sản phẩm</p>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="Title" class="control-label col-md-3">ảnh đã chọn:<span class="required">*</span></label>
                    <div class="col-md-6">
                        <div class="input-icon right">
                            <div id="dvPreview">
                            </div>
                            <div id="divAddMoreImage" style="display:none;">
                                <input type="file" id="fileaddMore" style="display:none">
                                <a style="cursor:pointer;" onclick="openFileOption();"><i class="fa fa-plus-circle"></i>Thêm ảnh</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button type="button" id="btnSave" class="btn btn-success">Thêm</button>
                </div>
                <div>
                </div>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>




@section Scripts {
    <script>
        $(document).ready(function () {

            $("#btnSave").click(function () {

                SaveData();
            });

            $('#upload').on('change', function () {
                // statusEditAva = 1;
                if (typeof (FileReader) != "undefined") {
                    var dvPreview = $("#dvPreview");
                    dvPreview.html("");
                    var regex = /^([a-zA-Z0-9\s_\\.\-:])+(.jpg|.jpeg|.gif|.png|.bmp)$/;
                    var index = 0;
                    $($(this)[0].files).each(function () {
                        var file = $(this);
                        if (regex.test(file[0].name.toLowerCase())) {
                            var reader = new FileReader();
                            reader.onload = function (e) {
                                var img = $("<img class='img_" + index + "'/> <span id='span_img_" + index + "'><a onclick='RemoveProductImage(" + index + ")'>Xóa</a></span> <br/>");
                                img.attr("style", "height:250px;width: 250px");
                                img.attr("src", e.target.result);
                                //  console.log(e.target.result);
                                dvPreview.append(img);
                                index++;
                            }
                            reader.readAsDataURL(file[0]);
                        } else {
                            alert(file[0].name + " is not a valid image file.");
                            dvPreview.html("");
                            return false;
                        }


                    });
                    $("#divAddMoreImage").show();
                } else {
                    alert("This browser does not support HTML5 FileReader.");
                }
            });



        });

        function SaveData() {

            debugger;
            var name = $("#txtCategoryName").val();
            var Display = $("#DisplayStatus").val();

            if (name == null || name == "") {
                alert("tên không được trống!");
                return;
            }

            // var imageBase64 = $('#imgPreview').attr("src");
            var lstImageSrc = "";
            // Lấy tất cả cả thẻ img trong thẻ div có id là dvPreview

            $("#dvPreview img").each(function (index, item) {
                //lấy src của từng ảnh trong thẻ Div dvPreview
                var imageBase64 = item.src;
                if (imageBase64 != null || imageBase64 != "") {
                    // Cắt bỏ đi data:image/jpeg;base64,
                    imageBase64 = imageBase64.split(',')[1];
                    lstImageSrc += imageBase64 + "_";
                }
                // console.log(imageBase64);
            });

            // Cắt bỏ ký tự "_" ở cuối cùng
            if (lstImageSrc != null && lstImageSrc.length > 0) {
                lstImageSrc = lstImageSrc.substring(0, lstImageSrc.length - 1);
            }

            var param = {
                DisplayStatus: Display,
                CategoryName: name,
                IconImages: lstImageSrc
            };

            $.ajax({
                type: 'POST',
                url: "/Category/AddCategorys",
                data: param,
                async: true,
                // dataType: "html",
                dataType: "json",
                success: function (rs) {
                    if (rs.returnCode == -401) {
                        window.location.href = "/Account/Login";
                    }
                    if (rs.returnCode > 0) {
                        window.location.href = "/";
                    }
                    alert(rs.returnMsg);
                },
                error(rs) {
                    console.log(JSON.stringify(rs));
                }
            });
        }
    </script>
}
