﻿@{
     ViewData["Title"] = "LongIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- /.login-logo -->
<div class="card card-outline card-primary">
    <div class="card-header text-center">
        <a href="../../index2.html" class="h1"><b>PhonShopGroup1</b></a>
    </div>
    <div class="card-body">
        <p class="login-box-msg">Đăng nhập</p>

            <div class="input-group mb-3">
                <input type="text" id="txtEmail" class="form-control" placeholder="UserName">
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-envelope"></span>
                    </div>
                </div>
            </div>
            <div class="input-group mb-3">
                <input type="password" id="txtPassword" class="form-control" placeholder="Password">
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-8">
                    <div class="icheck-primary">
                        <input type="checkbox" id="remember">
                        <label for="remember">
                            Remember Me
                        </label>
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-4">
                    <button type="button" id="btnLogin" class="btn btn-primary btn-block">Sign In</button>
                </div>
                <!-- /.col -->
            </div>


        <div class="social-auth-links text-center mt-2 mb-3">
            <a href="#" class="btn btn-block btn-primary">
                <i class="fab fa-facebook mr-2"></i> Sign in using Facebook
            </a>
            <a href="#" class="btn btn-block btn-danger">
                <i class="fab fa-google-plus mr-2"></i> Sign in using Google+
            </a>
        </div>
        <!-- /.social-auth-links -->

        <p class="mb-1">
            <a href="forgot-password.html">I forgot my password</a>
        </p>
        <p class="mb-0">
            <a href="register.cshtml" class="text-center">Register a new membership</a>
        </p>
    </div>
    <!-- /.card-body -->
</div>
<!-- /.card -->

   @section Scripts{
    <script>
        debugger;
        $(document).ready(function() {
            $("#btnLogin").click(function() {
                Login();
            });
        });

        function Login(){
            var userName = $("#txtEmail").val();
             var pass = $("#txtPassword").val();
           
            var param = {
                UserName:userName,
                PassWord:pass
            };

            $.ajax({
                type: 'POST',
                url: "/Account/Login",
                data: param,
                async: true,
                // dataType: "html",
                dataType: "json",
                success: function (rs) {
                    if (rs.returnCode > 0) {
                        ///  window.location.href = "/";

                        // set cookies
                        setCookie("MY_JWT_TOKEN", rs.token, 1);
                    }
                    alert(rs.returnMsg);
                },
                error(rs) {
                    console.log(JSON.stringify(rs));
                }
            });
        }

        function setCookie(cname, cvalue, exdays) {
            const d = new Date();
            d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
            let expires = "expires=" + d.toUTCString();
            document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
        }

      </script>
 }
