@{
    ViewData["Title"] = "Order detail";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">New message</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Recipient:</label>
                        <input type="text" class="form-control" id="recipient-name">
                    </div>
                    <div class="mb-3">
                        <label for="message-text" class="col-form-label">Message:</label>
                        <textarea class="form-control" id="message-text"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Send message</button>
            </div>
        </div>
    </div>
</div>


<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Chi tiết đơn hàng</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                    <li class="breadcrumb-item"><a href="/Order">Danh sách đơn hàng</a></li>
                    <li class="breadcrumb-item active">Chi tiết đơn hàng</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">

                <!-- Main content -->
                <div class="invoice p-3 mb-3">
                    <!-- this row will not appear when printing -->
                    <div class="row no-print">
                        <div class="col-12">
                            <a href="" rel="noopener" target="_blank" class="btn btn-default" id="print-btn"><i class="fas fa-print"></i> In</a>
                            @* <button type="button" class="btn btn-success float-right" style="margin-right: 5px;">
                                <i class="fas fa-download"></i> Xuất tệp tin Excel
                            </button> *@
                        </div>
                    </div>
                </div>
                <!-- /.invoice -->
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</section>

@section Scripts {
    <script>
        $(document).ready(function () {
            const urlParam = new URLSearchParams(window.location.search);
            const orderID = urlParam.get("id");

            $.ajax({
                type: "POST",
                dataType: "html",
                url: `/Order/GetOrderDetail/${orderID}`,
                async: true,
                success: function (response) {
                    $(".invoice").prepend(response);
                    $("#print-btn").attr("href", `/Order/Print?id=${orderID}`);
                }
            });
        })
    </script>
}