﻿@{
    ViewData["Title"] = "Thêm các phân loại của sản phẩm";
}
@model List<PhoneShop.DataAccess.DTO.AttributesRequestData>
<style>
    .row_marging {
        margin-top: 5px;
    }
</style>
<div class="row">
    <div class="col-md-2">
        <label for="email">ProductID:</label>
        <input type="number" class="form-control" id="txtProductID">
    </div>
    <div class="col-md-2">
        <label for="email">Tên nhóm phân loại:</label>
        <input type="text" class="form-control" id="txtGroupAttr">
    </div>
    <div class="ProductClassify">
            <div class="row">
                <div class="col-md-2"><input type="text" id="txtAttributeName_0" value="" class="form-control" placeholder="Tên phân loại" /></div>
                <div class="col-md-2"><input type="text" id="txtQuantity_0" value="" class="form-control" placeholder="Số lượng" /></div>
                <div class="col-md-2"><input type="text" id="txtPrice_0" value="" class="form-control" placeholder="giá" /></div>
                <div class="col-md-2"><input type="text" id="txtPriceSale_0" value="" class="form-control" placeholder="giá sale" /></div>
                <div class="col-md-2"><a style="cursor:pointer;" onclick="ProductClassify_AddAttValue()"><i class="fa fa-plus-circle"></i>Thêm phân loại</a></div>
            </div>
    </div>

</div>
<button type="button" id="btnSave" class="btn btn-success">Thêm thuộc tính sản phẩm</button>

<div id="Test_PartialView"></div>

@section Scripts {
    <script>
        $(document).ready(function () {

            $("#btnSave").click(function () {

                SaveData();
            });


        });


        function ProductClassify_AddAttValue() {
            var index_count = [];
            $(".ProductClassify .row").each(function (index, value) {
                index_count.push(index);
            });
            console.log(index_count.length);
            var item_index = index_count.length;
            console.log("item_index:" + item_index);
            var html = "";
            html += "<div class=\"row row_marging productClassify_Row_" + item_index + "\" >";
            html += "  <div class=\"col-md-2\"><input type=\"text\" id=\"txtAttributeName_" + item_index + "\" value=\"\" class=\"form-control\" placeholder=\"Tên phân loại\" /></div>";
            html += "   <div class=\"col-md-2\"><input type=\"text\" id=\"txtQuantity_" + item_index + "\" value=\"\" class=\"form-control\" placeholder=\"Số lượng\" /></div>";
            html += "  <div class=\"col-md-2\"><input type=\"text\" id=\"txtPrice_" + item_index + "\" value=\"\" class=\"form-control\" placeholder=\"giá\" /></div>";
            html += "   <div class=\"col-md-2\"><input type=\"text\" id=\"txtPriceSale_" + item_index + "\" value=\"\" class=\"form-control\" placeholder=\"giá sale\" /></div>";
            html += "  <div class=\"col-md-2\"><a style=\"cursor:pointer;\" onclick=\"ProductClassify_Remove(" + item_index + ")\"><i class=\"fa fa-plus-circle\"></i>Xóa phân loại</a></div>";
            html += "  </div>";
            $(".ProductClassify").append(html);
        }

        function ProductClassify_Remove(remove_index) {
            debugger;
            $(".ProductClassify .productClassify_Row_" + remove_index).remove();
        }
        function SaveData() {

            debugger;
            var PID = $("#txtProductID").val();
            var GrAtt = $("#txtGroupAttr").val();
            var attributes = "";
            $(".ProductClassify .row").each(function (index, value) {
                var ProductClassifyName = $("#txtAttributeName_" + index).val();
                var ProductClassifyQ = $("#txtQuantity_" + index).val();
                var ProductClassifyPrice = $("#txtPrice_" + index).val();
                var ProductClassifySalePrice = $("#txtPriceSale_" + index).val();
                attributes += ProductClassifyName + "," + ProductClassifyQ + "," + ProductClassifyPrice + "," + ProductClassifySalePrice + "_";
            });

            attributes = attributes != "" ? attributes.substr(0, attributes.length - 1) : attributes;
            console.log("attributes:" + attributes);
            var param = {
                ProductID: PID,
                AttributesNameValue: GrAtt,
                AttributeValuestring: attributes,
            };

            $.ajax({
                url: "/Attributes/AddAttributes",
                type: "POST",
                data: param,
                async: true,
                // dataType: "html",
                dataType: "json",
                success: function (rs) {
                    if (rs.returnCode == -401) {
                        window.location.href = "/Account/Login";
                    } else {
                        setTimeout(function () {


                            Swal.fire({
                                title: "Good job!",
                                text: mes,
                                icon: "success"
                            });
                        }, 500);
                    }

                    if (rs.returnCode > 0) {
                        window.location.href = "/";
                    }
                    alert(rs.returnMsg);
                },
                error(rs) {
                    console.log(JSON.stringify(rs));
                }
            });
       }
    </script>
}
