@model List<PhoneShop.DataAccess.DTO.ProductAttribute>
@{
    var code = ViewBag.ErrorCode;
    var message = ViewBag.ErrorMessage;
}

<h1>Các biến thể: </h1>

<h2>Product Attributes</h2>

<table class="table">
    <thead>
        <tr>
            <th>Attribute ID</th>
            <th>Product ID</th>
            <th>Attribute Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var attribute in Model)
        {
            <tr>
                <td>attribute.ProductAttributeID</td>
                <td>attribute.ProductID</td>
                <td>attribute.AttributesName</td>
            </tr>
        }
    </tbody>
</table>

