@{
    ViewData["Title"] = "All Products";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Danh sách sản phẩm</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                    <li class="breadcrumb-item active">Danh sách sản phẩm</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">

    <!-- Default box -->
    <div class="card" id="render-content">
        <div class="card-header">
            <a class="btn btn-primary btn-sm" href="#">
                <i class="fas fa-plus">
                </i>
                Thêm mới
            </a>
            <div class="card-tools">
                <input type="date" id="datefilter" name="datefilter">
            </div>
        </div>
        <!-- /.card -->
    </div>
</section>
<!-- /.content -->

@section Scripts {
<script>

    $(document).ready(function() {
        var param = {
            PageNumber: 1
        };
        LoadData(param);
    })

    $("#datefilter").change(function () {
        var dateElement = $(this).val().split('-');
        dateElement.reverse();
        var stringDate = dateElement.join('/');

        var param = {
            PageNumber: 1,
            CreatedDate: stringDate
        };

        console.log(param);
        LoadData(param);
    });

    function ProductFilter(brandId, categoryId) {
        var param = {
            BrandId: brandId,
            CategoryId: categoryId,
            PageNumber: 1
        }
    }

    function LoadData(param) {
        $.ajax({
            type: "POST",
            dataType: "html",
            url: "/Product/GetProducts",
            data: param,
            async: true,
            success: function (response) {
                $("#products-body").remove();
                $("#products-paging").remove();
                $("#render-content").append(response);
            }
        });
    }
</script>
}

